!.gitignore
!.mailmap
*.beam
*.diff
*.gz
*.la
*.lo
*.o
*.orig
*.pyc
*.rej
*.stamp
*.sw*
*.tpl
*~
.*
INSTALL
Makefile.in
THANKS

__pycache__
b
/src
rel/rcouch

# rebar
support/rebar/rebar
support/rebar/inttest/rt.work
rt.work
/rebar
support/rebar/.test
deps/

# package
distdir/
package/
package

# couch_collate
apps/couch/ebin
apps/couch_replicator/ebin
apps/couch_mrview/ebin
apps/couch_index/ebin
apps/couch_dbupdates/ebin
support/couch_rel/ebin/*.beam
apps/couch_randomdoc/ebin
apps/geocouch/ebin
apps/couch_httpd/ebin

# couchjs
apps/couch/c_src/couch_js/*.o
apps/c_src/couch_js/config.h
apps/couch/priv/couchjs
apps/couch/c_src/spawnkillable/*.o
apps/couch/priv/couchspawnkillable
apps/couch/.libs
apps/couch/.dists

share/server/main-coffee.js
share/server/main.js

test/etap/test_cfg_register
test/out
test/etap/*.beam
test/etap/*.o
test/etap/temp.*

share/doc/build
