*.beam
*.gz
*.tpl
*.o
*.lo
*.la
*.m4
*.in
*~
*.orig
*.rej
erl_crash.dump
configure
autom4te.cache
build-aux
*.diff
.DS_Store
*.dSYM
*.sw*
*.gz

# relase
rel/rcouch
dev
rcouchx.app
contrib/rcouchx/build/
contrib/rcouchx/DerivedData
rcouchx-build
contrib/DerivedData
contrib/rcouchx/rcouchx.xcodeproj/xcuserdata
contrib/rcouchx.xcworkspace/xcuserdata
contrib/rcouchx-build
rebar
support/rebar
support

# couch
apps/couch/couchjs

apps/couch/c_src/obj/*.so
apps/couch/priv/*.so
apps/couch/priv/couchspawnkillable
apps/couch/libs
apps/couch/share/server/main.js
apps/couch/share/server/main-coffee.js

# other
deps
ebin
distdir
package/osxbuild
package/packages

