%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% options
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R15|R16|17"}.

%% libs
{deps_dir, ["src"]}.
{libs_dir, ["src/"]}.
{sub_dirs, ["support/couch_rel", "rel"]}.


{deps, [
    {couch_replicator, ".*",
     {git, "https://github.com/rcouch/couchdb-couch-replicator",
      {branch, "maint"}}},

    {couch_dbupdates, ".*",
     {git, "https://github.com/rcouch/couchdb-couch-dbupdates",
      {branch, "1994-merge-rcouch"}}},

    {couch_randomdoc, ".*",
     {git, "https://github.com/rcouch/couch_randomdoc",
      {branch, "rcouch-0.1"}}},

    {geocouch, ".*",
     {git, "https://github.com/rcouch/geocouch",
      {branch, "rcouch"}}}
]}.

%% build hooks
{post_hooks, [{compile, "escript support/build_js.escript"}]}.
