%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% options
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R15|R16|17"}.

%% libs
{sub_dirs, ["support/couch_rel", "rel"]}.

{deps, [
        {couch, ".*",
         {git, "https://github.com/rcouch/rcouch-couch",
          {tag, "1.6.3"}}},

        {couch_index, ".*",
         {git, "https://github.com/rcouch/couchdb-couch-index",
          {tag, "1.3.1"}}},

        {couch_mrview, ".*",
         {git, "https://github.com/rcouch/couchdb-couch-mrview",
          {tag, "1.3.0"}}},

        {couch_httpd, ".*",
         {git, "https://github.com/rcouch/couchdb-couch-httpd",
          {tag, "1.0.0"}}},

        {couch_replicator, ".*",
         {git, "https://github.com/rcouch/couchdb-couch-replicator",
          {tag, "1.6.1"}}},

        {couch_dbupdates, ".*",
         {git, "https://github.com/rcouch/couchdb-couch-dbupdates",
          {tag, "1.0.0"}}},

        {couch_randomdoc, ".*",
         {git, "https://github.com/rcouch/couch_randomdoc",
          {tag, "1.0.0"}}},

        {geocouch, ".*",
         {git, "https://github.com/rcouch/geocouch",
          {tag, "1.0.0"}}},

        {node_package, ".*",
         {git, "https://github.com/rcouch/node_package.git",
          {tag, "rcouch-2.0.0"}}}

]}.

%% build hooks
{post_hooks, [{compile, "escript support/build_js.escript"}]}.
