%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{lib_dirs, ["deps/couch_core"]}.
{sub_dirs, ["rel", "deps/couch_core/apps/*"]}.


{deps, [

    %% apache couchdb core
    {couch_core, ".*", {git, "git://github.com/refuge/couch_core.git",
            {branch, "master"}}},

    %% couch random doc handler
    {couch_randomdoc, ".*", {git, "git://github.com/refuge/couch_randomdoc.git",
            {branch, master}}},

    %% couch random doc handler
    {couch_dbupdates, ".*", {git, "git://github.com/refuge/couch_dbupdates.git",
            {branch, master}}},

    %% spatial indexer
    {refuge_spatial, ".*", {git, "git://github.com/refuge/refuge_spatial.git",
            {branch, master}}}


]}.

{require_otp_vsn, "R14|R15"}.
