Source: rcouch
Section: net
Priority: extra
Maintainer: Benoit Chesneau <benoitc@refuge.io>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://refuge.io/rcouch

Package: rcouch
Architecture: any
Depends: adduser, logrotate, ${shlibs:Depends}, ${misc:Depends}
Description: static distribution of couchdb
      
