%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{erl_opts, [debug_info]}.
{require_otp_vsn, "R14"}.

{deps, [
    %% erlang oauth module
    {oauth, ".*", {git, "git://github.com/benoitc/erlang-oauth.git", {branch,
        "master"}}},

    %% ibrowse module , http client
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git",
                     {branch, "master"}}},
    
    %% mochiweb module, http framework
    {mochiweb, ".*", {git,"http://github.com/mochi/mochiweb.git",
                        {branch, "master"}}},
    
    %% snappy module, used for compression
    {snappy, ".*", {git, "git://github.com/refuge/snappy-erlang.git", 
                   {branch, "refuge"}}},

    %% ejson module, encode/decode module
    {ejson, ".*", {git, "git://github.com/benoitc/ejson.git", "master"}}
]}.


{pre_hooks, [{compile, "escript support/build.escript"}]}.
{post_hooks, [{clean, "escript support/build.escript clean"}]}.
